.maincontainer{     
    height: auto;    
}

.btn-try-it{
    font-size: 1rem;   
}

.head{         
    flex-direction: column; 
}

.head .head-sx{ 
    margin: 0 auto;   
    width: 100%;
    text-align: center;    
}

.head .head-dx{
    margin: 0 auto;    
    width: 50%;    
}

h1{
    font-size: 3rem;
}

.head .head-sx h4{    
    font-size: 1.5rem;    
}

.head .head-sx .btn-for-free{  
    width: 278px;
    height: 50px;  
    margin-top: 50px;
    margin-left: 38rem;       
}

.head .head-sx .btn-for-free .get{   
    font-size: 1.3rem;    
    padding: 0.7rem;
    color: hsl(207, 20%, 89%);
}

.main-items{  
    width: 1200px;       
}

.main-items .item{     
    width: 1200px;
}

h2{
    font-size: 2rem;    
    margin-top: 100px;
    margin-left: 3rem;
}

h3{
    font-size: 1.1rem;
    margin-left: 3rem;
    margin-top: 20px;    
}

.main-items .item .text{    
    width: 1200px;
}

.main-items .item .img{    
    width: 1200px;
}

.pie-page{
    border-radius: 20px;
    width: 1300px;
}
